:root {
  --dark-orange: #ee7b17;
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

#about {
  /* margin: 10% auto; */
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  margin: auto;
}

.aboutParts {
  max-height: 800px;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
}

.AboutImg {
  width: 600px;
  /* width: 100%; */
  background: url("../../assets/coding.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.part2 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  max-width: 600px;
  background-color: rgba(177, 169, 169, 0.107);
  padding: 2%;
}
.detailsPart {
  font-size: 1.4em;
  padding: 5px;
  font-weight: 600;
  text-align: left;
}
.cardAbout {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  justify-content: baseline;
  box-shadow: 0px 0px 10px 0px var(--color-footer);
  transition: 0.5s ease-in-out;
}

.cardAbout_img {
  width: 85px;
  filter: invert(22%) sepia(19%) saturate(7404%) hue-rotate(4deg)
    brightness(90%) contrast(118%);
  padding: 10px;
}
.AboutDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-inline: 3px;
}
.cardAbout_title {
  font-size: 20px;
  font-weight: 600;
}
.cardAbout_description {
  color: rgb(30, 27, 27);
  font-size: 14px;
}
.cardAbout:hover {
  background-color: #ee7b17;
}
.cardAbout:hover .cardAbout_img {
  filter: none;
}
.cardAbout:hover .AboutDescription > * {
  color: white;
}

@media screen and (max-width: 820px) {
  .aboutParts {
    flex-direction: column;
  }
  .AboutImg {
    width: 100%;
    height: 600px;
  }
}

@media screen and (max-width: 625px) {
  .aboutParts {
    flex-direction: column;
  }
  .AboutImg {
    width: 100%;
    height: 600px;
  }
}
