body{
  background-color: white;
}
.exploreDiv {
  padding-top:9%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;

}

.part1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 2.1em;
}

.titleSection {
  position: relative;
  font-size: 2.5em;
  margin-bottom: 45px;
  justify-content: center;
  display:flex;
  align-items: center;
 
  font-weight: 700;
  text-transform: uppercase;
  color: #544649;
}
.titleSection::before {
  content: "";
  background: rgba(0, 0, 0, 0.83);
  width: 400px;
  height: 4px;
  position: absolute;

  border-radius: 20px;
  bottom: -20px;
 
}
.titleSection::after{
  content: '';
  background-color: var(--dark-orange);
  height: 12px;
  width:100px;
  position: absolute;
  bottom: -24px;
  border-radius: 15px;
}

.detailsPart {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
}

img.part2{
  width: 450px;
  padding:25px;
  animation: wavy 2s linear infinite alternate;
  
}

@keyframes wavy {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(2px, 2px) rotate(1deg);
  }
}

.detailsExample {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  text-align: center;
}

.detailsExample .box {
  line-height: 1.5em;
  background-color: black;
  /* box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.211); */
  padding-block: 15px;
  padding-inline: 15px;
  border-radius: 5px;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
}

/* .box:hover{
    transform: scale(1.05);
  } */
.box .h5 {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--dark-orange);
  font-weight: 300;
}
.box span {
  font-weight: 600;
  color: white;
}


@media screen and (max-width: 950px) {
  .box {
    max-height: 100px;
    width: 120px;
  }
  
}
  @media screen and (max-width: 870px) {
    .exploreDiv{
      display: flex;
      flex-direction: column;
    }
    .box {
      max-height: 100px;
    }
  }
  @media screen and (max-width: 768px) {}