*,*::after,*::before{
padding: 0;
margin: 0;
box-sizing: border-box;
}


.extra{
display: flex;
flex-direction: column;
margin:35px;
max-width: 90%;

}

/* .fade-in{
    position: relative;
    transform: translateY(150px);
   opacity: 0;
   transition: all 1s ease;
  
  }
  .fade-in.appear{
    transform: translateY(0px);
    opacity: 1;
  }
   */