* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
:root {
  --black--shade:rgba(0, 0, 0, 0.805);
  --blue--shade:rgba(8, 18, 70, 0.5);
  --royal-blue-dark: rgb(1, 1, 1);
  --purple: hsl(291, 100%, 18%);
  --peachy-color: hsl(359, 100%, 69%);
  --gradient-1: linear-gradient(
    90deg,
    var(--royal-blue-dark) 0,
    var(--ksu-purple) 51%,
    var(--royal-blue-dark)
  );
  --gradient1:linear-gradient(var(--black--shade),var(--black--shade)51%);
 
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700&display=swap");


.main {
  background:var(--gradient1),url("../../assets/background.jpg")
    /* linear-gradient(
      90deg,
      var(--royal-blue-dark) 0,
      var(--purple) 51%,
      var(--royal-blue-dark),
      
    ) */
    ;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  padding-bottom: 1%;
  padding-top: 6%;
}

.container{
  display: flex;
 width: 90%;
}
.titleHeader {
  display: flex;
  flex-direction: column;
  padding-left: 3%;

  width: 100%;
  text-align: left;

  line-height: 3.1em;
}
.quote {
  color: var(--dark-orange);
  font-weight: 600;
  font-size: 1.7em;
  border-radius: 45px;
  animation: show 2s 0.05s;
  transition: 0.4s all ease;
}
#h1 {
  color: white;
  font-weight: 200;
  font-size: 3.6em;
  font-family: 'Roboto Flex', sans-serif;
}
.titleHeader > small {
  color: rgb(197, 196, 214);
  font-size: 1.7em;
}

@keyframes show {
  from {
    transform: translateX(-120%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

img.engineer {
  /* position: absolute; */
  display: block;
 grid-column: 2/-1;
  z-index: 2;
  width:100%;
  height: auto;
  padding-right: 2%;
  animation: wave 2s linear infinite alternate;
}

@keyframes wave {
  0% {
    transform: translate(0,0) rotate(0);
  }
  100% {
    transform: translate(2px,2px) rotate(1deg);
  }
}
.titleHeader .btnGroup {
    display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr; 
    grid-gap:15%;

    width: 60%;
    max-width: 100%;
    margin: auto;
 }

  .btn {
    margin-top: 5%;
    padding: 10px;
    border-radius: 6px;
    padding-inline: 3em;
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    z-index: 3;
    font-size: 20px;
    animation: showup 4s;
    transition: 0.5s all ease-out;
   
 
  }
  .explore {
    border: 1px white solid;
    background-color: transparent;
    color: white;
    transition: 0.4s all ease;
  }
  .explore:hover {
    background-color: rgba(255, 255, 255, 0.821);
    color:var(--dark-orange);
  }
  .explore:active {
    outline: 1px white solid;
    outline-offset: 4px;
  }
  .contactBtn {
    border: 1px solid var(--dark-orange);
    background-color: var(--dark-orange);
    color: white;
  }
  .contactBtn:hover {
    color: var(--dark-orange);
  
    background-color: rgba(255, 255, 255, 0.821);
    border-color: white;
  }
  
  .contactBtn:active {
    outline: 1px white solid;
    outline-offset: 4px;
  }
  @keyframes showup {
    0% {
      transform: translateY(100%);
      opacity: 0;
     
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
     
    }
  }
  
.video-back{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    justify-content: center;
}
.custom-shape-divider-bottom-1658534101 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1658534101 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 500px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1658534101 .shape-fill {
  fill: rgba(223, 218, 216, 0.29);
}
@media screen and (max-width:1192px){
 
  .container{
      display: grid;
      grid-template-columns:1fr 1fr;
      max-width: 95%;
  }
  
  }

/* @media screen and (max-width: 1063px) {
 .header {
    font-size: 22px;
    top: 22%;
  }
  .titleHeader .btnGroup {
   width: 100%;
   }
  .btn {
    font-size: 15px;
    padding-inline: 45px;
  }
  .titleHeader{
    top: 18%;
    max-width: 40%;
    line-height: 2em;
  }
  img.engineer {
   
    grid-column: 2/-1
  }
  
  .quote {
    font-size: 18px;
  }
  #h1 {
    font-size: 2.4em;
  }
  .titleHeader > small {
    font-size: 18px;
  }
  
} */

/* @media screen and (max-width: 980px) {
 

   
      .custom-shape-divider-bottom-1658255558 svg {
        position: relative;
        display: block;
        width: calc(156% + 1.3px);
        height: 100px;
      }
      .titleHeader{
        top:20%;
        max-width: 60%;
      }
      .quote {
        font-size: 18px;
      }
      .titleHeader #h1{
        font-size: 2em;
      }
      img.engineer {
        position: absolute;
        top:20%;
        right: 0;
     width: 40%;
      }
      .btn {
        font-size: 15px;
        padding-inline:85px;
      }
} */

@media screen and (max-width: 708px) {
  .container{
    max-width: 100%;
  }
  .titleHeader .btnGroup{
    display:flex;
    flex-direction: column-reverse;
    width: 100%;
   
  }
  .container{
    display: grid;
   grid-template-columns: 1fr;
   grid-template-columns: 1fr 1fr;
  }
  .titleHeader {
    position: relative;
    grid-column: 1/-1;
    grid-row: 1/2;
   max-width: 90%;
   line-height: 1.3em;
  }
  .titleHeader #h1{
    font-size: 2.6em;
  }
  .titleHeader small,
   .quote{
    font-size: 18px;
  }
}


@media screen and (max-width: 445px) {
  .container{
    display: grid;
   grid-template-columns: 1fr;
   grid-template-columns: 1fr 1fr;
  }
  .titleHeader {
    position: relative;
    grid-column: 1/-1;
    grid-row: 1/2;
   max-width: 90%;
   line-height: 1.3em;
  }
  .titleHeader #h1{
    font-size: 1.4em;
  }
  .titleHeader small,
   .quote{
    font-size: 12px;
  }
  .btn{
    width: 100%;
    padding-block: 5px;
  }
  img.engineer {
    padding-top: 2%;
  position: relative;
  grid-column: 1/-1;
   grid-template-rows: 2/-1;
   width: 80%;
  }

}

/* @media screen and (max-width: 375px){
  .container{
    display: grid;
  }
  .titleHeader {
    position: absolute;
    top:15%;
    grid-column: 1/-1;
    grid-row: 1/2;
  }

} */