*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.contact{
  margin-top: 45px;

}
 
/* .contact .part1{
  padding-left: 55px;
} */

.contactContainer {
  background: url("../../assets/hero-bg.png"),
  linear-gradient(
    90deg,
    var(--royal-blue-dark) 0,
    var(--purple) 51%,
    var(--royal-blue-dark)
  );
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  color: rgba(255, 255, 255, 0.984);


}

.section1 {
/* 
  backdrop-filter: blur(8px); */
  padding: 15px 25px;
  width:100%;
 
  display: block;
  flex-direction: column;
  border-radius: 15px;

}
.section2{
  width: 100%;
}
.contactContainer h1{
    color: var(--red);
    font-weight: 600;
}
.contactContainer p{
  color: rgb(230, 207, 207);
}
.contactContainer .contact-form{
    /* margin: 25px auto; */
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.name1,
.email1,
.message1{
  width: 100%;
  background-color:rgba(255, 255, 255, 0.889);
  color: rgb(58, 50, 51) ;
  padding-block:10px;
  font-size: 16px;
 font-weight: 700;
  padding-left: 15px;

}
.contact-form .inputBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.iconLabel{
position:absolute;
color: rgba(0, 0, 0, 0.53);
font-size: 22px;
font-weight: 700;
top:10px;
left:5px;
}
.name1:focus,
.email1:focus,
.message1:focus{
  background-color:rgba(249, 247, 243, 0.77);
 outline: none;
}

.name1::placeholder,
.email1::placeholder,
.message1::placeholder{
  color: rgba(0, 0, 0, 0.53);
  font-weight: 700;
  
}
.sendMessage{
 width: 300px;
  margin-top: 15px;
 padding-block: 8px;
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(199, 178, 178, 0.452);
  transition: .5s all;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.53);
  font-weight: 700;

}
.sendMessage:hover{
  box-shadow: none;
  background-color: #ff6366;
  color: white;
}
.sendMessage:active{
  outline: 1px white solid;
  outline-offset: 4px;
}


.bi-send{
  transform: rotate(45deg);
  padding-bottom: 5px;
}

@media screen and (max-width:1142px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
  }
}