*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.contact{
  margin-inline: 3%;

}

/* .contact .part1{
  padding-left: 55px;
} */

.contactContainer {
margin-block: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  width: 100%;
  color: rgba(255, 255, 255, 0.984);


}

.section1 {
background-color: rgb(2, 2, 2);
  padding: 5% 25px;
 width: 100%;
 position: relative;

  flex-direction: column;


}
.section2{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.contactPEA{
  display: flex;
  flex-direction: column;
  background-color:black;
  color: white;
 
 padding: 2%;
  justify-content: center;
 }
 .contactPEA h3{
  color: var(--dark-orange);
 }
.contactContainer h1{
    color: var(--dark-orange);
    font-weight: 600;
    font-size: 2.4em;
}
.contactContainer p{
  color: rgb(230, 207, 207);
}
.contactContainer .contact-form{
    /* margin: 25px auto; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 70px;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.name1{
  grid-column: 1/2;
  grid-row: 1/2;
}
.email1{
  grid-column: 2/-1;
  grid-row: 1/2;
}
.message1{
  grid-column: 1/-1;
  grid-row: 2/3;
}
.section1 .sendMessage{
  grid-column: 1/2;
  grid-row: 3/-1;
}
.name1,
.email1,
.message1{
  width: 100%;
  background-color:rgba(255, 255, 255, 0.889);
  color: rgb(58, 50, 51) ;
  padding-block:10px;
  font-size: 16px;
 font-weight: 700;
  padding-left: 15px;
  border-radius: 4px;

}
.contact-form .inputBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.iconLabel{
position:absolute;
color: rgba(0, 0, 0, 0.53);
font-size: 22px;
font-weight: 700;
top:10px;
left:5px;
}
.name1:focus,
.email1:focus,
.message1:focus{
  background-color:rgba(249, 247, 243, 0.77);
 outline: none;
}

.name1::placeholder,
.email1::placeholder,
.message1::placeholder{
  color: rgba(0, 0, 0, 0.53);
  font-weight: 700;
  
}
.section1 .sendMessage {
  border-radius: 4px;
 width: 300px;
  margin-top: 15px;
  padding-block: 8px;
  box-shadow: 1px 1px 10px 1px rgba(199, 178, 178, 0.452);
  transition: .5s all;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(248, 242, 242, 0.836);
  font-weight: 700;
 
  border:1px solid rgba(255, 255, 255, 0.784);

}
.sendMessage:hover{
  box-shadow: none;
  background-color:  rgba(255, 255, 255, 0.784);
  color: var(--dark-orange);
}
.sendMessage:active{
  outline: 1px white solid;
  outline-offset: 4px;
}


.bi-send{
  transform: rotate(45deg);
  padding-bottom: 5px;
}

@media screen and (max-width:1142px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width:750px) {
  .contactContainer .contact-form{
    /* margin: 25px auto; */
    display: flex;
   
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
  .section1{
    margin-inline: 0;
    width: 100%;
  }
}

@media screen and (max-width:394px) {
  .section1 .sendMessage{
    width: 100px;
  }
}