*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.contact{
  margin-block: 5%;

}
 
/* .contact .part1{
  padding-left: 55px;
} */

.contactContainer {
  background:linear-gradient(rgba(157, 144, 144, 0.777),rgba(149, 135, 135, 0.777)),url("../../assets/background.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  color: rgba(255, 255, 255, 0.984);


}

.section1 {
background-color: rgba(2, 2, 2, 0.77);
  padding: 15px 25px;
  margin-inline:4%;
  width:80%;
 
  display: block;
  flex-direction: column;


}
.section2{
  width: 100%;
}
.contactContainer h1{
    color: var(--dark-orange);
    font-weight: 600;
}
.contactContainer p{
  color: rgb(230, 207, 207);
}
.contactContainer .contact-form{
    /* margin: 25px auto; */
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.name1,
.email1,
.message1{
  width: 100%;
  background-color:rgba(255, 255, 255, 0.889);
  color: rgb(58, 50, 51) ;
  padding-block:10px;
  font-size: 16px;
 font-weight: 700;
  padding-left: 15px;

}
.contact-form .inputBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.iconLabel{
position:absolute;
color: rgba(0, 0, 0, 0.53);
font-size: 22px;
font-weight: 700;
top:10px;
left:5px;
}
.name1:focus,
.email1:focus,
.message1:focus{
  background-color:rgba(249, 247, 243, 0.77);
 outline: none;
}

.name1::placeholder,
.email1::placeholder,
.message1::placeholder{
  color: rgba(0, 0, 0, 0.53);
  font-weight: 700;
  
}
.sendMessage{
 width: 300px;
  margin-top: 15px;
 padding-block: 8px;
  border: none;
  box-shadow: 1px 1px 10px 1px rgba(199, 178, 178, 0.452);
  transition: .5s all;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.53);
  font-weight: 700;

}
.sendMessage:hover{
  box-shadow: none;
  background-color: var(--dark-orange);
  color: white;
}
.sendMessage:active{
  outline: 1px white solid;
  outline-offset: 4px;
}


.bi-send{
  transform: rotate(45deg);
  padding-bottom: 5px;
}

@media screen and (max-width:1142px) {
  .contactContainer {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width:750px) {
  .section1{
    margin-inline: 0;
    width: 100%;
  }
}