
.form{
    max-width: 38%;
    margin: 6% auto;
    padding: 15px;
    box-shadow: 1px 1px 11px 10px rgba(0, 0, 0, 0.164);
    
}
/* .form1{
    max-width: 30%;
    padding: 25px auto;

} */


.homePage{
    display: block;
    position: absolute;
    top:22px;
    left:32px;
    color: black;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .4s all ease;
   
}
.homePage::before{
    content: '';
    background-color:hsla(38, 67%, 22%, 0.384);
    width: 0;
    right:0;
    height:3px;
    border-radius: 12px;
    position: absolute;
    bottom: -4px;
    transition: .4s all ease;
    z-index: -1;
}

.homePage:hover::before{
    
    width: 100%;
}

.inputsSignIn{
    display: flex;
    flex-direction: column;

 
}
.inputs{
   display: flex;

   flex-direction: column;

}

.inputBox{
    position: relative;
    margin: 17px;
}
input{
    height: 45px;
    font-size: 18px;
    border:none;
    border:1px solid rgba(71, 66, 64, 0.784);
    border-radius: 4px;
    /* margin:15px 0 0 5px; */
    padding-left: 5px;
    width: 100%;
    background-color: transparent;
    margin-bottom: 12px;
}

input:focus{
    outline: none;
}
.inputBox label{
    position: absolute;
    top:-23px;
    padding-left:2px;
    font-size: 16px;
    left:0px;
    z-index: 1;
    color: rgba(0, 0, 0, 0.781);
    font-weight: 600;
    transition: top .5s;

    }

  /* .inputBox input:focus ~ label,
  .inputBox input:valid ~ label{
    top:-9px;
   }  */
.btnGroup{
    display: flex;
    flex-direction: column;
    padding: 15px;
    
}
.google,
.facebook{
    padding: 15px;
    margin: 5px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    transition: .2s all;
    
}
.facebook{
    border: none;
    background-color: rgb(64, 90, 147);
    color: white;
}
.google{
    border: none;
    background-color: rgba(130, 129, 129, 0.193);
    color: rgba(0, 0, 0, 0.718);
    display: flex;
    justify-content: center;
 
}
.fa-facebook{
    padding-right: 15px;
    
}

.googleIcon{
    width: 15px;
    padding-right: 15px;
   

}
.google:hover,
.facebook:hover{
    transform: scale(1.01);
}
.google:focus,
.facebook:focus{
    outline: 2px solid black;
    outline-offset: 3px;
}
.divider{
 font-size: 25px;
}
h3{
    padding-block: 15px;
}

.btnSignGroup{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
 
    width: 100%;
    margin-top: 15px;
}


.sign {
    appearance: none;
    background-color: #ffffff;
    border-width: 0;
    border: 1px solid rgba(0, 0, 0, 0.386);
    border-radius: 25px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin-bottom: 12px;
    opacity: 1;
    outline: 0;
    padding: 1.1em 2.2em;
    width: 90%;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}
  
.sign:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #ebebebbc;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    border-radius: 25px;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}
  
.sign:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
  
.sign:after {
    background-color: #FFFFFF;
}
.sign:focus{
    outline: 2px solid rgb(106, 104, 104);
    outline-offset: 3px;
}

.sign span {
    z-index: 1;
    position: relative;
}


.errorMessage{
    color: rgb(171, 15, 15);
    position: absolute;
    left:0;
    bottom:-25px;
    
   font-weight: 600;
   font-size: 14px;
}


.errorMessage .fa-circle-exclamation{
    visibility: visible;
    padding-right: 4px;
    font-weight: 600;
    font-size: 14px;
}

input.form-control, input.form-control:focus {
    background: #F0F0FF;
  }
  
.linked{
    color: rgb(37, 34, 111);
    line-height: 1.2em;
}
.linked:hover{
    color: #000000;
}